.container{
  margin-left: auto;

  @media(max-width: 768px){
    margin: 0;
  }
}

.details{
  width: 100%;
  max-width: 314px;
  margin: 0 auto;
  position: relative;
  margin-right: 0px;

  @media(max-width: 1240px){
    margin-right: auto;
  }

  @media(max-width: 768px){
    max-width: 100%;
  }

  .prodClass{
    color: #707070;
    margin-bottom: 12px;
  }

  .prodPrice{
    font-size: 24px;
  }

  .paymentOptions{
    color: #707070;
  }

  .prodSizesList{
    display: flex;
    margin-bottom: 39px;

    .prodSize{
      min-width: 20px;
      width: auto;
      padding: 0px 6px;
      height: 32px;
      background-color: #E9E9E9;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px 9px;
      border: 4px;
      color: #707070;
      font-size: 14px;
    }
  }

  .prodQuantity{

    .selectQuantity{
      width: 86px;
      height: 40px;
      text-indent: 40%;
      border: 1px solid #919191;
      color: #202A36;

      option{
        text-align: center;
        width: 86px;
      }
    }

    .is-row{
      align-items: center;
    }
  }

  .buyButton, .carButton{
    width: 314px;
    height: 48px;
    font-weight: 300;

    @media(max-width: 768px){
      width: 100%;
    }
  }

  .buyButton{
    border: 1px solid #000000;
  }

  .carButton{
    border: 1px solid #222222;
    background-color: #ffffff;
  }

  .cep{
    
    .cepLegend{
      margin: 6px 0px;
    }

    .cepInput{
      height: 40px;
      width: auto;
      border: 1px solid #E9E9E9;
      color: #C8C8C8;
    }

    .buttonCalc{
      width: 90px;
      height: 40px;
      font-size: 16px;
    }

    a{
      text-decoration: none;
    }
  }

  .fav{
    position: absolute;
    top: 0px;
    right: 8px;
    width: 22px;
    height: 20px;
  }
  
}