/* 
  This function will create utilitaries classes like this:
  m-t-8 (margin-top: 8px) and p-x-16 (padding-right: 16px; padding-left: 16px)
*/

@mixin spacings($target){
    @each $space in $spaceamounts {
      .m-#{$space}#{if($target == '', '', '-' + $target)} {
        margin: #{$space}px !important;
      }
      .p-#{$space}#{if($target == '', '', '-' + $target)} {
        padding: #{$space}px !important;
      }
  
      .m-x-#{$space}#{if($target == '', '', '-' + $target)} {
        margin-left: #{$space}px !important;
        margin-right: #{$space}px !important;
      }
      .p-x-#{$space}#{if($target == '', '', '-' + $target)} {
        padding-left: #{$space}px !important;
        padding-right: #{$space}px !important;
      }
  
      .m-y-#{$space}#{if($target == '', '', '-' + $target)} {
        margin-top: #{$space}px !important;
        margin-bottom: #{$space}px !important;
      }
      .p-y-#{$space}#{if($target == '', '', '-' + $target)} {
        padding-top: #{$space}px !important;
        padding-bottom: #{$space}px !important;
      }
  
      @each $side in $sides {
        .m-#{str-slice($side, 0, 1)}-#{$space}#{if($target == '', '', '-' + $target)} {
          margin-#{$side}: #{$space}px !important;
        }
        .p-#{str-slice($side, 0, 1)}-#{$space}#{if($target == '', '', '-' + $target)} {
          padding-#{$side}: #{$space}px !important;
        }
      }
    }
  }