/* Spacings */

$spacing_0: 0;
$spacing_8: 8;
$spacing_10: 10;
$spacing_16: 16;
$spacing_20: 20;
$spacing_24: 24;
$spacing_32: 32;
$spacing_42: 42;
$spacing_64: 64;

$spaceamounts: (
    $spacing_0
    $spacing_8
    $spacing_10
    $spacing_16
    $spacing_20
    $spacing_24
    $spacing_32
    $spacing_42
    $spacing_64
);

$sides: (top, bottom, left, right);