.content{
  width: 100%;
  background-color: #FAFAFA;
  margin: 0 auto 58px;

  .container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;

    .carousel{

      .flickity-button{
        position: absolute;
        top: 200px;
        bottom: 0px;
        //height: 32px;
        //width: 18px;
        height: 72px;
        width: 30px;
        background-color: transparent;
        border: none;

      }

      .previous{
        left: 0px;
      }

      .next{
        right: 0px;
      }
    }


    .flickity-enabled{
      
      &:focus {
        outline: none;
      }
    }
  }
}