.productCard{
    
  background-color: #FAFAFA;
  margin: 0px 42px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 236px;
  font-family: sans-serif;
  border: 1px solid #E9E9E9;
  padding-bottom: 12px;
  position: relative;

  .favorites{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 18px;
    top: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .favorites-icon{
      height: 14px;
      width: 15px;
      margin-bottom: 0px;
    }
  }

  .product-image{
    height: 413px;
    object-fit: cover;
  }

  .product-price{
    margin: 10px auto 12px;
    color: #707070;
    font-size: 20px;
  }

  .product-button{
    width: 94px;
    height: 40px;
    background-color: #000000;
    border-radius: 4px;
    color: #FAFAFA;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}